/*Estilo al cuerpo de la Pagina*/
body{background: url(Imagenes/trabajando.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    padding-bottom:0 ;
    }
    .barra{
        position: absolute;
        top: 0px;
        background: black;opacity: .75;
        width:1165.8px ;
        font-family: calibri;
        font-size: 22px;
        color: white;
        height: 80px;
        padding-right: 100px;
        padding-left: 100px;

    }
  
    .subcuerpo{
        position: relative;
        top: 100px;
        font-family: calibri;
        color: white;
        font-size: 50px;
        padding-left: 100px;
        padding-right: 100px;

    }
    .registrate{
        font-family: calibri;
        font-size: 30px;
        margin: 0em 5px;
        top: 1em;
        background-color:#04B431;
        padding-right: 40px;
        padding-left: 40px;
        white-space: nowrap;
        border-color: #04B431;
        border-radius:10px ;
        left: 100px;
        position: relative;
    }
    .registrate a{
        text-decoration:none;
    }
    .registrate:hover{
        background-color:green ;
         color:blue;

    }
    a:link{ color: white;}
    a:visited{color: white;}
    a:active{color: white;}

    blockquote{
        border-top: thin dotted;
        font-size: 23px;
        font-family: calibri;
    }
